<table>
  <tr>
    <th>Item</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>New Users</td>
    <td><%= @user_count %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td> <%= @order_count %></td>
  </tr>
  <tr>
    <td>New Products</td>
    <td><%= @new_products %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= @revenue %></td>
  </tr>

</table>